.main_nav{
    min-width: 320px;
    /* height: 100vh;
    width: 100vw; */
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page_1,.page_2,.page_3{
    font-size: 30px;
    text-decoration: none;
    margin: 5%;
}

.page_1:hover, .page_2:hover, .page_3:hover {
    color: rgb(255, 255, 255);
}


.closingBtn{
   width: 50px;
   height: 50px;
   background-color: rgb(255, 255, 255);
   border: none;
   border-radius: 50%;

   img {
    transform: scale(50%);
   }
}

.closingBtn:hover {
    background-color: rgb(219, 219, 219);
 }

.closingBtn:active {
    transform: scale(96%);
 }
hr{
    width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}