.main_about {
    width: 100vw;
    background-color: rgba(243, 228, 225, 1);
    color: black;
    width: 375px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    & img {
        width: 100%;
        object-fit: cover;
    }
}


.about_header__navBtn {
    background-color: white;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    z-index: 1;
    margin-top: -90px;
    transform: translateY(0);

    & img {
        width: 30px;
        height: 30px;
    }
}


& .header__navBtn:hover {
    background-color: rgb(219, 219, 219);
}

.footer {
    text-align: center;

    & .eva {
        border-radius: 50%;
        width: 100px;
    }
}

.header_name {
    text-align: center;
}


.main_para {
    padding: 20px;
    font-family: monospace;
}

.header {
    z-index: 0;
}