.main {
    background-color: rgba(229, 103, 78, 1);
    min-width: 340px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 5%;

    .main__container {
        margin-top: 100px;

        h1 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.1rem;
    
        }

        
    }

    .cool__btn {
        background-color: white;
        color: black;
        min-width: 184px;
        min-height: 55px;
        border-radius: 25px;
        font-size: xx-large;
        margin: auto;
        border: none;
        padding: 2% 10%;
    }

    .cool__btn:hover {
        color: white;
        background-color: rgba(47, 41, 38, 1);
    }
}

.fatText {
    font-weight: 600;
}
