.main {
    background-color: rgba(229, 103, 78, 1);
    min-width: 340px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 5%;
}
.cool__btn {
    width: 184px;
    height: 55px;
    border-radius: 25px;
    font-size: xx-large;
    display: block;
    margin: auto;
    border: none;
}
.img_para {
    margin-top: 150px;
}