main{
    display: flex;
    flex-direction: column;
    background-image: url(file:///C:/Users/Aiste/Documents/GitHub/Group-project/AirBean/src/pages/home/style/images/airbean-landing.svg)
}

p{
    text-transform: uppercase;
}

.content{
    display: flex;
}
