.cart {
  background-color: white;
  color: rgba(47, 41, 38, 1);
  padding: 5%;
  width: fit-content;

  .cart__title {
    
  }

  .cart__orderSection {

  }

  .cart__costContainer {
    display: flex;
    justify-content: space-between;

    .costContainer__totalText {

    }

    .costContainer__dots {

    }

    .costContainer__totalPrice {

    }
  }

  .cart__costRelatedInfo {
    font-size: 0.8rem;
  }

  .cart__orderBtn {
    background-color: rgba(47, 41, 38, 1);
    color: white;
    padding: 4% 8%;
    border-radius: 15px;
    border: none;
    font-weight: 600;
  }

  .cart__orderBtn:hover {
    background-color: rgba(47, 41, 38, 0.7);
  }
}