#root{
    padding: 0;
}

body{
    background-color: rgb(41, 34, 34);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main{
    height: 100vh;
    width: 100vw;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.closingBtn{
    display: flex;
    justify-self: flex-start;
}
.pages{
    color: white;
}