.main {
    background-color: rgba(229, 103, 78, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.main__container{
    min-width: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cool__btn {
    width: 184px;
    height: 55px;
    border-radius:25px;
    background-color: white;
    color:rgb(37, 37, 37);
    font-family:'Times New Roman';
    font-weight: 700;
    font-size: xx-large;
    margin-top: 50px;
    border: none;
}

.status_text{
    font-size: 37px;
    width: 70vw;
}

.eta{
    font-size: 25px;
    font-weight: 700;
    color: white;
}

img{
    width: 280px;
    height: auto;
}